In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import time
import pandas as pd

In [ ]:
p1 = pd.read_csv("/content/drive/Shareddrives/Project3/p1.csv", skiprows=3, header=None)
p2 = pd.read_csv("/content/drive/Shareddrives/Project3/p2.csv", skiprows=3, header=None)
p3 = pd.read_csv("/content/drive/Shareddrives/Project3/p3.csv", skiprows=3, header=None)
tags1 = pd.read_csv("/content/drive/Shareddrives/Project3/p1_tags.csv", header=None)
tags2 = pd.read_csv("/content/drive/Shareddrives/Project3/p2_tags.csv", header=None)
tags3 = pd.read_csv("/content/drive/Shareddrives/Project3/p3_tags.csv", header=None)

In [ ]:
timestamp_start_p1 = tags1.loc[0,0]
timestamp_stop_p1 = tags1.loc[1,0]
timestamp_start_p2 = tags2.loc[0,0]
timestamp_stop_p2 = tags2.loc[1,0]
timestamp_start_p3 = tags3.loc[0,0]
timestamp_stop_p3 = tags3.loc[1,0]

In [ ]:
timestamp_start_p1 = time.strftime(' %Y-%m-%d %H:%M:%S', time.localtime(timestamp_start_p1))
timestamp_stop_p1 = time.strftime(' %Y-%m-%d %H:%M:%S', time.localtime(timestamp_stop_p1))
timestamp_start_p2 = time.strftime(' %Y-%m-%d %H:%M:%S', time.localtime(timestamp_start_p2))
timestamp_stop_p2 = time.strftime(' %Y-%m-%d %H:%M:%S', time.localtime(timestamp_stop_p2))
timestamp_start_p3 = time.strftime(' %Y-%m-%d %H:%M:%S', time.localtime(timestamp_start_p3))
timestamp_stop_p3 = time.strftime(' %Y-%m-%d %H:%M:%S', time.localtime(timestamp_stop_p3))

In [ ]:
timestamp_start_p1

' 2021-05-21 07:53:49'

In [ ]:
timestamp_start_p1 = pd.date_range(timestamp_start_p1, periods =1, freq='0.25S')
timestamp_stop_p1 = pd.date_range(timestamp_stop_p1, periods =1, freq='0.25S')

In [ ]:
timestamp_start_p1.dtype

dtype('<M8[ns]')

In [ ]:
def function(data, start, stop):

  timestamp = data.loc[0,0]
  datetime = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(timestamp))
  data["time"] = pd.date_range(datetime, periods=1037,freq='0.25S')

  data_tag = data[start:stop]
  data_tag = data_tag[:-3]

  baseline=data_tag.iloc[0:80]
  print("Baseline:", baseline)
  print("Mean of baseline:", baseline.mean())

  stimuli=data_tag.iloc[0:280]
  print("Stimuli:",stimuli)

  difference = (stimuli - baseline).mean()
  z_score = (difference - (difference.mean())) / difference.std()
  print("Z-Score:",z_score)

  z_score_second = z_score.groupby(np.arange(len(z_score))//4).mean()
  print("Z-score by second:",z_score_second)

  %matplotlib inline
  plt.plot(data1, linestyle ='dotted',linewidth = '3.5')

  return z_score_second

In [ ]:
p1

             0                    time
0     0.134540 1970-01-01 00:00:00.000
1     0.162729 1970-01-01 00:00:00.250
2     0.162729 1970-01-01 00:00:00.500
3     0.166573 1970-01-01 00:00:00.750
4     0.164010 1970-01-01 00:00:01.000
...        ...                     ...
1032  0.131977 1970-01-01 00:04:18.000
1033  0.134540 1970-01-01 00:04:18.250
1034  0.131977 1970-01-01 00:04:18.500
1035  0.134540 1970-01-01 00:04:18.750
1036  0.134540 1970-01-01 00:04:19.000

[1037 rows x 2 columns]

In [ ]:
p1.shape

(1037, 2)

In [ ]:
function(p1, timestamp_start_p1, timestamp_stop_p1)